/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.myCustomMargin {
  margin-top: 150px; /* change value to your desire */
}

.custom-modal-header .btn-close {
  /* Your custom styles for the close button */
  color: red; /* Example: change the color to red */
  /* Add any other styling you want */
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}

.card-image {
  padding-bottom: 80%;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 16px 16px 0 0;
}
.image-overlay {
  background: linear-gradient(0deg, black, transparent);
}
.card-title {
  margin: 0;
  font-size: 1.5rem;
}

.card-content {
  padding: 20px;
  box-sizing: border-box;
}
.card-subtitle {
  margin: 5px 0;
  color: #888;
}
.circle-container {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border: 3px solid #ff7300; /* Border color and thickness */
  border-radius: 50%; /* Makes the div circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff7300;
  font-weight: bold;
  font-size: 1.2rem; /* Adjust font size as needed */
  margin-bottom: 20px;
}

.error {
  border: 2px solid red;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .card-container {
    display: block;
  }
}
