input:disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  border-style: solid;
}
input {
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.error {
  border: 1px solid red;
  font-weight: bold;
}
.mob {
  margin-bottom: 10px;
}

.form-image {
  padding-inline: 10px;
  border: 1px solid lightgray;
  max-width: 320px;
  /* margin-top: 20px; */
}
.delete-button {
  display: none;
  /* visibility: hidden; */
}

.col-inner:hover .delete-button {
  display: block;
  z-index: 1;
  /* visibility: visible; */
}
